/* Body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #a5bdfd;
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #35155d;
  padding: 15px 20px;
}

.left {
  flex: 1;
}

.right {
  flex: 3;
  text-align: right;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ff6600;
}

/* User account icon */
.user-icon {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 7px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
}

/* Navbar for small screen (bottom) */
.navbar-sm{
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navbar-sm div{
  display: flex;
  justify-content: space-around;
  background-color: #35155d;
  padding: 10px 0;
  margin: 3px;
  width: 100%;
  border-radius: 20px;
}

.navbar-sm a{
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.9rem;
  text-decoration: none;
  gap: 5px;
}