body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #35155d;
  font-size: 1.1rem;
}

.about-us {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  /* max-width: 1200px; */
  padding: 20px;
  background-color: #512b81;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.about-content {
  flex: 1;
  padding: 20px;
}

.about-content h2 {
  font-size: 36px;
  color: #ff6600;
  margin-bottom: 20px;
}

.about-content h3 {
  font-size: 24px;
  color: #ff6600;
  margin-top: 20px;
}

.about-content p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}

.about-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-content ul li {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

.about-content a {
  display: inline-block;
  text-decoration: none;
  background-color: #ff6600;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.about-content a:hover {
  background-color: #e64a19;
}

.about-image {
  flex: 1;
  text-align: center;
  border-radius: 12px;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Section 4: About Us Starts */
/* About us */
#about{
  padding: 60px 0;
  text-align: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Heading code */

/* .heading{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
} */
/* .heading h1{
  font-size: 50px;
  color: #ff6600;
  margin-bottom: 25px;
  position: relative;
  text-shadow:white 2px -2px 2px;
} */

#about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 80%; */
  /* margin: auto; */
  padding: 12px 40px;

}

.section-title {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ff6600;
  text-shadow: #64e0ff 1px 1px;
}
.heading div{
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 35px;
  text-align: center;
}

.heading p{
  
  max-width: 65%;
}
/* Container Code */
.container{
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
/* Image code */
.about-image{
  /* flex: 1; */
  /* margin-right: 40px; */
  overflow: hidden;
  border-radius: 12px;
}

.about-image img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
  border-radius: 12px;
}

.about-image:hover img{
  transform: scale(1.08);

}
.about-content{
  flex: 1;
}

.about-content h2{
  font-size: 20px;
  margin-bottom: 15px ;
  color: #ff6600;

}
/* para code */
.about-content p{
  font-size: 18px;
  line-height: 1.5;
  color: #fefeff;
}

.about-content .read-more{
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6600;
  color :#fff;
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px; 
  transition: 0.3s ease;

}

.about-content .read-more:hover{
  background-color: #35155d;
}
/* end */