@media screen and (max-width: 1024px) {
  .hero {
    margin-top: 10%;
  }
  .hero1 {
    padding-left: 2rem;
  }
  .hero1 h1 {
    font-size: 4rem;
  }
  .hero1 p {
    font-size: 2rem;
  }
  .hero1 button {
    font-size: 1.3rem;
  }
  .modal > div {
    width: 50%;
  }
  .modal img {
    width: 35%;
    height: 35%;
  }
  .modal h3 {
    font-size: 1.2rem;
  }
  .modal p {
    font-size: 0.9rem;
  }
  .right-side-contact{
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .navbar-sm {
    display: flex;
  }
  .right {
    display: none;
  }
  .hero {
    flex-direction: column;
  }
  .hero1 {
    max-width: 100%;
  }
  .hero__image {
    width: 100vw;
    margin-right: -120px;
    padding-left: 30px;
  }
  .journey-planner {
    background: url(../images/bg-image3.jpeg) fixed;
  }
  .journey-input {
    max-width: 90%;
  }
  .ride-option {
    width: 90%;
  }
  .modal > div {
    width: 70%;
  }
  .footer-section {
    width: 50%;
  }
  .footer {
    padding-bottom: 5rem;
  }
  .right-side-contact {
    margin: 0;
    margin-left: 0;
  }
  .contact-container {
    flex-direction: column-reverse;
  }
  .left-side-contact {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .left-side-contact::before {
    display: none;
  }
  .right-side-contact {
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .modal > div {
    width: 80%;
  }
  .footer-content {
    flex-direction: column;
  }
}
